.header {
    height: 28px;
    background-color: #000000;
    position: relative;
}

.header .logo {
    width: 358px;
    height: 48px;
    position: absolute;
    background: url(../../images/logo.png);
    left: 50%;
    margin-left: -179px;
    z-index: 1000;
    display: block;
}

.subscribeControlContainer{
    margin-left: -520px;
    left: 50%;
    position: absolute;
}

.subscribeControlContainer .subscribe-input.hidden{
    display: none;
}

.subscribeControlContainer .subscribe.hidden{
    display: none;
}

.subscribe,
.feedback
{
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    border-bottom: 1px dashed #ffffff;
    text-decoration: none;
}
.subscribe {
    /*margin-left: -520px;*/
}

.feedback{
    margin-left: 480px;
    position: absolute;
    left: 50%;
    top: 5px;
    cursor: pointer;
}

.social{
    position: absolute;
    left: 50%;
}

.social.fb{
    width: 18px;
    height: 19px;
    background: url(../../images/social-fb.png);
    margin-left: -335px;
    top: 5px;
}
.social.twitter{
    width: 12px;
    height: 17px;
    background: url(../../images/social-twitter.png);
    margin-left: -280px;
    top: 6px;
}
.social.pin{
    width: 18px;
    height: 23px;
    background: url(../../images/social-pin.png);
    margin-left: -235px;
    top: 5px;
}

.subscribe-input.error{
    color: #f00;
    border: 2px solid #f00;
}

.subscribe-input,
.search{
    border: none;
    width: 150px;
    height: 24px;
    outline: none;
    color: #acacac;
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 10px;
    padding-left: 10px;
    background: #ffffff url(../../images/search-arrow.png) no-repeat 125px 6px;
    padding-right: 28px;
}

.search{
    position: absolute;
    left: 50%;
    margin-left: 250px;
    margin-top: 2px;
}

.subscribed{
    color: #fff;
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 12px;
    padding-top: 8px;
margin-left: -50px;
}

.subscribed.hidden{
    display: none;
}

.feedbackPanel{
    position: absolute;
    z-index: 1000;
    left: 50%;
    margin-left: 450px;
    top:20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.feedbackPanel.hidden{
    display: none;
}

.feedbackPanel-triangle {
    position: relative;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
    margin: 0 auto;
}

.feedbackPanel-content{

    background-color: #ffffff;
    text-align: center;
    width: 170px;
    padding: 20px 25px 35px;

}

.feedbackPanel-content .dot{
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    margin: 20px auto;
}
.feedbackPanel-content .author-name{
    font-size: 15px;
}

.feedbackPanel-content .phone{
    font-family: 'PT Sans',serif;
    font-size: 13px;
    padding-top: 20px;
}
.feedbackPanel-content .feedback-social{
    font-family: 'PT Sans',serif;
    font-size: 13px;
    padding-top: 8px;
}
.feedbackPanel-content .feedback-social a{
    color: #0056a4;
}