.header {
    height: 28px;
    background-color: #000000;
    position: relative;
}

.header .logo {
    width: 358px;
    height: 48px;
    position: absolute;
    background: url(../../images/logo.png);
    left: 50%;
    margin-left: -179px;
    z-index: 1000;
    display: block;
}

.subscribeControlContainer{
    margin-left: -520px;
    left: 50%;
    position: absolute;
}

.subscribeControlContainer .subscribe-input.hidden{
    display: none;
}

.subscribeControlContainer .subscribe.hidden{
    display: none;
}

.subscribe,
.feedback
{
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    border-bottom: 1px dashed #ffffff;
    text-decoration: none;
}
.subscribe {
    /*margin-left: -520px;*/
}

.feedback{
    margin-left: 480px;
    position: absolute;
    left: 50%;
    top: 5px;
}

.social{
    position: absolute;
    left: 50%;
}

.social.fb{
    width: 18px;
    height: 19px;
    background: url(../../images/social-fb.png);
    margin-left: -335px;
    top: 4px;
}
.social.twitter{
    width: 12px;
    height: 17px;
    background: url(../../images/social-twitter.png);
    margin-left: -280px;
    top: 5px;
}
.social.pin{
    width: 18px;
    height: 23px;
    background: url(../../images/social-pin.png);
    margin-left: -235px;
    top: 5px;
}

.subscribe-input,
.search{
    border: none;
    width: 150px;
    height: 24px;
    outline: none;
    color: #acacac;
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 10px;
    padding-left: 10px;
    background: #ffffff url(../../images/search-arrow.png) no-repeat 125px 6px;
    padding-right: 28px;
}

.search{
    position: absolute;
    left: 50%;
    margin-left: 250px;
    margin-top: 2px;
}