.images-container .left,
.images-container .right {
    width: 60px;
    height: 59px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-top: -28px;
}

.images-container .left {
    background: url("../../images/main-banner-prev-slide.png") no-repeat;
    left: 15px;
}

.images-container .right {
    background: url("../../images/main-banner-next-slide.png") no-repeat;
    right: 15px;
}